body{
    margin: 0;
    background: rgba(235, 225, 225, 0.705);
    font: small-caps 300 1.5em/1.5em 'Source Code Pro';
}

.grid{
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
}

.container{
    width: 98%;
    margin: 0 auto;
}

header{
    background: #61f3aa3a;
}

.logo{
    width: 300px;
    height: 300px;
    margin: 18px 190px 0  0;
}

a:link{
    color: #444;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation{
    background-color: #61f3aa49;
    margin-top: 300px;
    margin-right: 100px;
    padding: 0 5px;
}

.navigation li{
    display: inline-block;
    position: relative;
}

.navigation a::before{
    content: '';
    display: block;
    background-color: #61f3aa;
    height: 5px;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}
.navigation a:hover{
    color: #000;
}

.navigation a:hover::before{
    width: 100%;
}

.signin{
    margin-left: 200px;
}

.signin li{
    display: inline-block;
    margin-bottom: 300px;
}

.signin a:link{
    font-size: 1rem;
}

.signin a:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: #000;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}