* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: rgb(5, 91, 112);
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
}
.navlink {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 17px;
  font-size: 17px;
}
#navlinkLogSin {
  /* padding-right: 35px; */
  /* right: 0; */
  float: right;
}
.navlink:hover {
  text-transform: uppercase;
  text-decoration: underline;
}
/* @media screen and (max-width: 550px) {
  .navlink {
    font-size: 15px;
    padding: 15px;
  }
} */
.page-body {
  margin-top: 50px;
  width: 100vw;
  height: calc(100vh - 50px);
  background-image: url(./images/hotel.jpg);
  background-size: 100% 100%;
  /* background-repeat: round; */
  /* background: url(./images/hotel.jpg) no-repeat center center fixed;
  background-size: cover; */
}

.login {
  margin-top: 50px;
  width: 100vw;
  height: calc(100vh - 50px);
  background-image: url(./images/reception.jpg);
  background-size: 100% 100%;
}
.loginBox {
  /* clear: all; */
  height: 75%;
  width: 50%;
  /* width: 30em; */
  border: rgb(114, 97, 65) solid 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-top: -50px; */
  margin-left: -10px;
  transform: translate(-50%, -50%);
  margin-top: 50px;

  /* display: flex;
  justify-content: center;
  align-items: center; */

  background-color: rgba(245, 222, 179, 0.63);
}
.signup {
  margin-top: 50px;
  width: 100vw;
  height: calc(100vh - 50px);
  background-image: url(./images/h3.jpg);
  background-size: 100% 100%;
}
.signupBox {
  /* clear: all; */
  height: 75%;
  width: 50%;
  /* width: 30em; */
  border: rgb(9, 101, 155) solid 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-top: -50px; */
  margin-left: -10px;
  transform: translate(-50%, -50%);
  margin-top: 50px;

  /* display: flex;
  justify-content: center;
  align-items: center; */

  background-color: rgba(14, 92, 116, 0.555);
}
