@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

input{
  outline: none;
}

select{
  outline: none;
}

/* NAVBAR  */
nav {
  /* background-color: rgb(128, 93, 29); */
  background-color: rgb(141, 10, 39);
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.navlink li:hover {
  background-color: rgb(114, 6, 51);
}

.navlink li,
.signuplink li {
  position: relative;
  display: inline-block;
}

nav a {
  /* color: white; */
  color: rgb(245, 223, 184);
  text-decoration: none;
  display: inline-block;
  padding: 16px 17px 8px;
  font-size: 18px;
}

.navlink a:hover {
  /* color: rgb(231, 152, 152); */
  /* color: rgb(153, 141, 142); */
  color: gold;
  transition: 0.5s;
}

.navlink li::after {
  content: "";
  width: 0;
  height: 5px;
  /* background-color: rgb(141, 107, 45); */
  /* background-color: rgb(153, 141, 142); */
  background-color: rgb(161, 7, 41);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navlink li:hover::after {
  width: 100%;
}

.signuplink li a:hover {
  text-decoration: underline;
}


/* SERVICES  */
.general-SBH {
  /* background-color: rgb(11, 85, 107); */
  background: transparent;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  margin: 20px 0px;
}

.general-SBH h2{
  color: #111;
  font-size: 50px;
  text-align: center;
}

.general-SBH > div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  margin: 30px 10px;
}

.general-SBHbox {
  width: 100%;
  height: 350px;
  border: #000 solid 2px;
  position: relative;
  border-radius: 5px;
}

.booking > input[type="submit"],
.general-SBHbox button {
  width: 100%;
  /* margin: 0; */
  border: none;
  background-color: rgb(163, 245, 207);
  height: 35px;
  cursor: pointer;
  border-radius: 5px;
}

.booking > input[type="submit"]:hover,
.general-SBHbox button:hover{
  background-color: rgba(163, 245, 207, 0.76);
  transition-duration: 0.3s;
}

/* @media screen and (max-width: 550px) {
  .navlink {
    font-size: 15px;
    padding: 15px;
  }
} */
/* decorator for login and signup page */

.decorator {
  /* clear: all; */
  /* height: calc(70% - 60px); */
  height: 70%;
  width: 450px;
  /* width: 30em; */
  border: rgb(114, 97, 65) solid 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-top: -50px; */
  margin-left: -10px;
  transform: translate(-50%, -50%);
  margin-top: 50px;

  /* display: flex;
  justify-content: center;
  align-items: center; */

  background-color: rgba(245, 222, 179, 0.63);
  padding: 20px;
}

.decorator h1 {
  text-align: center;
  color: rgb(83, 59, 14);
  text-transform: uppercase;
  /* text-decoration: underline; */
}

.decorator form {
  text-align: left;
  margin-top: -10px;
}

.decorator label {
  font-size: 1.57rem;
  color: rgb(78, 65, 40);
  font-family: cursive;
}

.decorator input[type="text"],
input[type="email"],
input[type="password"] {
  margin-bottom: 20px;
  border: none;
  width: 100%;
  padding: 7px 2px;
  /* background-color: rgba(245, 222, 179, 0); */
  background: transparent;
  border-bottom: rgb(105, 75, 18) solid;
  outline: none;
}

input::placeholder {
  font-family: cursive;
}

.decorator input[type="submit"] {
  width: 100%;
  height: 50px;
  background-color: rgba(124, 95, 41, 0.699);
  font-size: 1.45rem;
  border: none;
  outline: none;
  cursor: pointer;
  border: rgb(78, 65, 40) solid 2px;
  border-radius: 7px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.decorator input[type="submit"]:hover {
  background-color: rgba(124, 95, 41, 0.849);
  transition: 0.2s;
  font-weight: bold;
  font-size: 1.2rem;
}

.decorator span {
  display: inline-block;
  margin-top: 20px;
}

.decorator a {
  color: black;
}

.decorator a:hover {
  text-decoration: underline;
}

/* LOGIN  */

.login {
  margin-top: 50px;
  width: 100vw;
  height: calc(100vh - 50px);
  background-image: url(./images/reception.jpg);
  background-size: 100% 100%;
}

.loginBox {
  height: 60%;
}

.loginBox img {
  height: 20%;
  width: 23%;
  border-radius: 50%;
  position: relative;
  top: 30px;
  left: 51%;
  margin-left: -10px;
  transform: translate(-50%, -50%);
  margin-top: 40px;
}

/* SIGNUP  */
.signup {
  margin-top: 50px;
  width: 100vw;
  height: calc(100vh - 50px);
  background-image: url(./images/signup.jpg);
  background-size: 100% 100%;
}

.signupBox form {
  margin-top: 30px;
}

/* HOME PAGE  */

.main-page {
  margin-top: 50px;
  /* margin-right: 0;
  margin-left: 0; */
  width: 100%;
  height: calc(100vh - 50px);
  box-sizing: border-box;

  /* background-repeat: round; */
  /* background: url(./images/hotel.jpg) no-repeat center center fixed;
  background-size: cover; */
}

.intro {
  /* margin-top: 0; */
  background-image: url(./images/try2.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}
.intro h1 {
  font-size: 100px;
  color: white;
  font-family: "Yatra One", cursive;
  text-decoration: overline;
  text-align: center;
  position: relative;
  top: calc(50% - 50px);
}

.hotels {
  background-image: url(./images/booking8.jpeg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.hotels h2{
  margin-top: 100px;
  margin-bottom: 1000px;
  color:rgb(114, 6, 51);
}

.bookH button{
  background-color: rgb(245, 91, 155);
}

.bookH button:hover{
  background-color: rgba(245, 91, 155, 0.76);
}

.service{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.service h1{
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 50px;
}

.service p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.service-col{
  flex-basis: 31%;
  height: 500px;
  background: #f5c1c1;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 50px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.service h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.service-col:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}




/* Profile Page */
.current-status {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: url(..//static/images/booking3.jpeg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.user-profile {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
}
.user-details {
  /* background-color: cornflowerblue; */
  padding-left: 20px;
}
.user-details h1 {
  font-size: 3rem;
  /* font-family: cursive; */
}
.user-details h2 {
  font-size: 1.2rem;
  margin-top: 4px;
}
.profile-detail {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.hotel-detail-profile ul {
  list-style: none;
  /* display: flex;
  flex-direction: column; */
  font-family: cursive;
}

.hotel-detail-profile li {
  margin-bottom: 10px;
}

.hotel-detail-profile h1{
  font-size: 3rem;
  padding: 10px 0px 5px;
}

.hotel-detail-profile h2{
  font-size: 1.2rem;
  margin: 10px;
  margin-top: 20px;
}

.hotel-detail-profile h3{
  font-size: 1rem;
  margin-left: 20px;
}

.button {
  font-size: medium;
  margin-top: 3px;
  display: inline-block;
  /* width: 115px;
  height: 25px; */
  /* background: #4e9caf; */
  padding: 1px 10px;
  text-align: center;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  line-height: 25px;
  border: cadetblue solid 2px;
  cursor: pointer;
}

.current-status .button:hover{
  border-color: transparent;
  background-color: rgb(141, 10, 39);
}
.profilepic {
  display: flex;
  flex-direction: column;
}

.profilepic img {
  height: 180px;
  width: 180px;
}

.profilepic a {
  text-align: center;
  color: black;
}

.photo {
  height: 100%;
  width: 100%;
  background: cadetblue;
}
.profilepic .photo-tala a {
  color: black;
  padding-left: 30%;
  display: inline-block;
  margin-top: 10px;
}
.profile h2 {
  font-family: cursive;
  margin-top: 20px;
}

.myS button{
  background-color: rgb(245, 163, 238);
}

.orderF button{
  background-color: rgb(164, 163, 245);
}

.myS button:hover{
  background-color: rgba(245, 163, 238, 0.76);
}

.orderF button:hover{
  background-color: rgba(164, 163, 245, 0.76);
}

/* BOOKING Page  */
.booking {
	background: #ded891
}

.book-main {
  /* font-family: cursive; */
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 4px;
  height: 332px;
}

.book-main label {
  margin: auto;
  color: #111;
}

.book-main input, .book-main select{
  height: 20%;
  width: 80%;
  background: transparent;
  margin: auto;
  margin-top: 0;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #111;
}

.book-main select option{
  background: rgb(248, 248, 248);
}

.book-main-div{
  text-align: center;
  display: grid;
  grid-template-rows: 40% 60%;
  grid-row-gap: 20px;
  border: 1px solid rgba(83, 82, 82, 0);
  margin: 10px 10px 0px;
  border-radius: 5px;
}

.book-main-div > label{
  border: 1px solid #000;
  width: 80%;
  padding: 3px 0;
  box-shadow: 5px 5px 2.5px #000;
  border-radius: 5px;
}

.book-main-div div{
  display: grid;
  grid-template-columns: 30% 70%;
}

.book-main-div form{
  display: grid;
  grid-template-rows: 22% 22%;
}

.book-main-div form input{
  border: 0px;
  width: 100%;
  height: 2em;
  margin: auto;
  margin-left: 20px;
  font-size: 13px;
}

.book-main-div form label[for="AC"],
.book-main-div form label[for="Non-AC"]{
  font-size: 20px;
  margin: auto;
}

.booking > input[type="submit"]{
  height: 50px;
  background-color: rgb(236, 189, 101);
}

/* Footer */

.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4{
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: 600;
}

.icons .fa{
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa-heart-o{
  color: #f44336;
}

