* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.navbar {
  /* background-color: rgb(5, 91, 112); */
  /* background-color: rgb(107, 82, 19); */
  background-color: rgb(128, 93, 29);
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
}
.navlink {
  /* color: white; */
  color: rgb(245, 223, 184);
  text-decoration: none;
  display: inline-block;
  padding: 17px;
  font-size: 17px;
}
#navlinkLogSin {
  /* padding-right: 35px; */
  /* right: 0; */
  float: right;
}
.navbar::after {
  content: "";
  width: 0;
  height: 5px;
  background-color: rgb(141, 107, 45);
  display: block;
  margin: auto;
  transition: 0.3s;
}

.navbar:hover::after {
  width: 100%;
}
.navlink:hover {
  text-transform: uppercase;
  text-decoration: underline;
}
/* @media screen and (max-width: 550px) {
  .navlink {
    font-size: 15px;
    padding: 15px;
  }
} */
.page-body {
  margin-top: 50px;
  width: 100vw;
  height: calc(100vh - 50px);
  background-image: url(./images/test2.jpg);
  background-size: 100% 100%;
  /* background-repeat: round; */
  /* background: url(./images/hotel.jpg) no-repeat center center fixed;
  background-size: cover; */
}

/* LOGIN  */

.login {
  margin-top: 50px;
  width: 100vw;
  height: calc(100vh - 50px);
  background-image: url(./images/reception.jpg);
  background-size: 100% 100%;
}
.loginBox {
  /* clear: all; */
  /* height: calc(70% - 60px); */
  height: 70%;
  width: 450px;
  /* width: 30em; */
  border: rgb(114, 97, 65) solid 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-top: -50px; */
  margin-left: -10px;
  transform: translate(-50%, -50%);
  margin-top: 50px;

  /* display: flex;
  justify-content: center;
  align-items: center; */

  background-color: rgba(245, 222, 179, 0.63);
  padding: 20px;
}

.login h1 {
  text-align: center;
  color: rgb(83, 59, 14);
  text-transform: uppercase;
  /* text-decoration: underline; */
}
.login form {
  text-align: left;
  margin-top: -10px;
}
.login label {
  font-size: 1.57rem;
  color: rgb(78, 65, 40);
  font-family: cursive;
}
.login input[type="text"],
input[type="email"],
input[type="password"] {
  margin-bottom: 20px;
  border: none;
  width: 100%;
  padding: 7px 2px;
  /* background-color: rgba(245, 222, 179, 0); */
  background: transparent;
  border-bottom: rgb(105, 75, 18) solid;
  outline: none;
}
input::placeholder {
  font-family: cursive;
}
.login input[type="submit"] {
  width: 100%;
  height: 50px;
  background-color: rgba(124, 95, 41, 0.699);
  font-size: 1.45rem;
  border: none;
  outline: none;
  cursor: pointer;
  border: rgb(78, 65, 40) solid 2px;
  border-radius: 7px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.login input[type="submit"]:hover {
  background-color: rgba(124, 95, 41, 0.849);
  transition: 0.2s;
  font-weight: bold;
  font-size: 1.2rem;
}
.login span {
  display: inline-block;
  margin-top: 20px;
}
.login a {
  color: black;
}
.login a:hover {
  text-decoration: underline;
}
.login img {
  height: 20%;
  width: 23%;
  border-radius: 50%;
  position: relative;
  top: 30px;
  left: 51%;
  margin-left: -10px;
  transform: translate(-50%, -50%);
  margin-top: 40px;
}

/* SIGNUP  */
.signup {
  margin-top: 50px;
  width: 100vw;
  height: calc(100vh - 50px);
  background-image: url(./images/signup.jpg);
  background-size: 100% 100%;
}

.login .signup-Box {
  height: 70%;
}
.login .signup-Box form {
  margin-top: 30px;
}
