* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

nav {
  /* background-color: rgb(5, 91, 112); */
  /* background-color: rgb(107, 82, 19); */
  background-color: rgb(128, 93, 29);
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  
}

.navlink li:hover{
  background-color: rgb(128, 96, 39);
}

.navlink li, .signuplink li{
  position: relative;
  display: inline-block;
}

nav a{
  /* color: white; */
  color: rgb(245, 223, 184);
  text-decoration: none;
  display: inline-block;
  padding: 16px 17px 8px;
  font-size: 18px;
}

.navlink a:hover{
  /* color: rgb(231, 152, 152); */
  /* color: rgb(153, 141, 142); */
  color: gold;
  transition: 0.5s;
}

.navlink li::after {
  content: "";
  width: 0;
  height: 5px;
  /* background-color: rgb(141, 107, 45); */
  /* background-color: rgb(153, 141, 142); */
  background-color: gold;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navlink li:hover::after {
  width: 100%;
}

.signuplink li a:hover{
  text-decoration: underline;
}

/* @media screen and (max-width: 550px) {
  .navlink {
    font-size: 15px;
    padding: 15px;
  }
} */
.page-body {
  margin-top: 50px;
  width: 100vw;
  height: calc(100vh - 50px);
  background-image: url(./images/test2.jpg);
  background-size: 100% 100%;
  /* background-repeat: round; */
  /* background: url(./images/hotel.jpg) no-repeat center center fixed;
  background-size: cover; */
}

/* decorator for login and signup page */

.decorator {
  /* clear: all; */
  /* height: calc(70% - 60px); */
  height: 70%;
  width: 450px;
  /* width: 30em; */
  border: rgb(114, 97, 65) solid 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-top: -50px; */
  margin-left: -10px;
  transform: translate(-50%, -50%);
  margin-top: 50px;

  /* display: flex;
  justify-content: center;
  align-items: center; */

  background-color: rgba(245, 222, 179, 0.63);
  padding: 20px;
}

.decorator h1 {
  text-align: center;
  color: rgb(83, 59, 14);
  text-transform: uppercase;
  /* text-decoration: underline; */
}

.decorator form {
  text-align: left;
  margin-top: -10px;
}

.decorator label {
  font-size: 1.57rem;
  color: rgb(78, 65, 40);
  font-family: cursive;
}

.decorator input[type="text"],
input[type="email"],
input[type="password"] {
  margin-bottom: 20px;
  border: none;
  width: 100%;
  padding: 7px 2px;
  /* background-color: rgba(245, 222, 179, 0); */
  background: transparent;
  border-bottom: rgb(105, 75, 18) solid;
  outline: none;
}

input::placeholder {
  font-family: cursive;
}

.decorator input[type="submit"] {
  width: 100%;
  height: 50px;
  background-color: rgba(124, 95, 41, 0.699);
  font-size: 1.45rem;
  border: none;
  outline: none;
  cursor: pointer;
  border: rgb(78, 65, 40) solid 2px;
  border-radius: 7px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.decorator input[type="submit"]:hover {
  background-color: rgba(124, 95, 41, 0.849);
  transition: 0.2s;
  font-weight: bold;
  font-size: 1.2rem;
}

.decorator span {
  display: inline-block;
  margin-top: 20px;
}

.decorator a {
  color: black;
}

.decorator a:hover {
  text-decoration: underline;
}

/* LOGIN  */

.login {
  margin-top: 50px;
  width: 100vw;
  height: calc(100vh - 50px);
  background-image: url(./images/reception.jpg);
  background-size: 100% 100%;
}

.loginBox{
  height: 60%;
}

.loginBox img {
  height: 20%;
  width: 23%;
  border-radius: 50%;
  position: relative;
  top: 30px;
  left: 51%;
  margin-left: -10px;
  transform: translate(-50%, -50%);
  margin-top: 40px;
}

/* SIGNUP  */
.signup {
  margin-top: 50px;
  width: 100vw;
  height: calc(100vh - 50px);
  background-image: url(./images/signup.jpg);
  background-size: 100% 100%;
}

.signupBox form {
  margin-top: 30px;
}
