<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" type="image/icon" href="../static/images/icon.ico" />
  </head>
  <body>
    <header>
      <nav>
        <div class="navlink">
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="#">Hotels</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Book Now</a></li>
          </ul>
        </div>
        <div class="signuplink">
          <ul>
            <li><a href="./signup.html">Signup</a></li>
            <li><a href="./login.html">Login</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="main-page current-status">
      <div class="user-profile">
        <div class="profilepic">
          <img src="../static/images/avatar.png" alt="profilepic">
          <a href="#" class="button">Update Profile</a> <br />
        </div>
        <div class="user-details">
            <h1 style="text-decoration: underline;">Ed Shreeran</h1>
            <h2>Email: ed_sheerean@gmail.com</h2>
            <h2>Phone: +977 9800012012</h2>
            <a href="#" class="button">Your History</a>
        </div>
      </div>  
      <div class="hotel-detail-profile">
          <ul>
            <li><h2>Hotel: abc</h2></li>
            <li><h2>Room Number: abc</h2></li>
            <li><h2>Number of Guests: abc</h2></li>
            <li>
              <h2>Room Assistant: abc <a href="#" class="button">Call Now</a></h2>
              
            </li>
            <li><h2>Checkin Date: abc</h2></li>
            <li>
              <h2>Checkout Date: abc <a href="#" class="button">Update</a></h2>
              
            </li>
          </ul>
        </div>
    </section>
      <!-- <div class="main-page">
        <div class="main-page profile">
          
          <div class="profilepic">
            <div class="photo"></div>
            <div class="photo-tala">
              <a href="#">Update Profile</a> <br />
              <a href="#">Your History</a>
            </div>
          </div>
          <div class="details">
            <h2>Hotel: abc</h2>
            <h2>Room Number: abc</h2>
            <h2>Number of Guests: abc</h2>
            <h2>Room Assistant</h2>
            <span><a href="#">Call Now</a></span>
            <h2>Checkin Date: abc</h2>
            <h2>Checkout Date: abc</h2>
            <span><a href="#">Update</a></span>
          </div> -->
    <h2>Your Services</h2>
        <section class="general-SBH">
            
            <div class="general-SBHbox myS1">
                <button>Remove Service</button>
            </div>
            <div class="general-SBHbox myS2">
                <button>Remove Service</button>
            </div>
            <div class="general-SBHbox myS3">
                <button>Remove Service</button>
            </div>
        </section>

          <h2>Add Services (Dropdown)</h2>
          <section class="general-SBH">
            
            <div class="general-SBHbox addS1">
                  <div class="imgg">
                    <img src="../static/images/hotel1.jpg" alt="hotel">
                  </div>
        	        <div class="description"></div>
                <button>Add Service</button>
            </div>
            <div class="general-SBHbox assS2">
              <div class="imgg">
                <img src="../static/images/hotel2.jpg" alt="hotel">
              </div>
              <div class="description"></div>
                <button>Add Service</button>
            </div>
            <div class="general-SBHbox addS3">
              <div class="imgg">
                <img src="../static/images/hotel3.jpg" alt="hotel">
              </div>
              <div class="description"></div>
                <button>Add Service</button>
            </div>
        </section>
      </div>
    </div>
  </body>
</html>
