<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" type="image/icon" href="../static/images/icon.ico" />
  </head>
  <body>
    <header>
      <nav>
        <div class="navlink">
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="#">Hotels</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Book Now</a></li>
          </ul>
        </div>
        <div class="signuplink">
          <ul>
            <li><a href="./signup.html">Signup</a></li>
            <li><a href="./login.html">Login</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="home-page">
      <div class="home-page p1">
        <h1>NAMASTE</h1>
      </div>
      <div class="home-page p2">
        <h1>check-check</h1>
        <p>
          login button wallma tassiyo <br />
          ani tyo tala pani scroll bar ayo tyo hatauna paryo
        </p>
      </div>
      <div class="home-page p3"></div>
    </div>
  </body>
</html>
