<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" type="image/icon" href="../static/images/icon.ico" />
  </head>
  <body>
    <div class="navbar">
      <a href="./index.html" class="navlink">Home</a>
      <a href="#" class="navlink">Hotels</a>
      <a href="#" class="navlink">Features</a>
      <a href="#" class="navlink">Packages</a>
      <a href="./signup.html" class="navlink" id="navlinkLogSin">Signup</a>
      <a href="./login.html" class="navlink" id="navlinkLogSin">Login</a>
    </div>
    <div class="page-body">
      <h1>Check</h1>
      <h1>heram ta k ho</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab neque
        itaque incidunt fuga amet hic numquam dolores atque asperiores sequi,
        voluptates impedit quas quibusdam quis debitis, eius eum eaque
        consequatur adipisci quia, soluta aliquid deleniti explicabo. Voluptas
        aliquam eos voluptatem assumenda hic quos fugiat? Fuga minus aut ducimus
        voluptate est, adipisci magnam repellat officia non. Eligendi soluta in,
        sit necessitatibus quaerat, quibusdam ex nostrum quia laborum modi ipsum
        commodi ut inventore delectus tempora. Facilis, eum at incidunt omnis
        ipsum dolor minus nostrum sed dolorum esse repellat quasi perspiciatis
        nisi, reiciendis, ad sapiente inventore! Quaerat iste, architecto nulla
        nemo necessitatibus quia.
      </p>
    </div>
  </body>
</html>
