<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" type="image/icon" href="../static/images/icon.ico" />
  </head>
  <body>
    <div class="navbar">
      <a href="./index.html" class="navlink">Home</a>
      <a href="#" class="navlink">Hotels</a>
      <a href="#" class="navlink">Features</a>
      <a href="#" class="navlink">Packages</a>
      <a href="./signup.html" class="navlink" id="navlinkLogSin">Signup</a>
      <a href="./login.html" class="navlink" id="navlinkLogSin">Login</a>
    </div>
    <div class="login signup">
      <div class="loginBox signup-Box">
        <h1>Signup</h1>
        <form action="" method="">
          <label for="id1FullName">Full Name</label><br />
          <input
            type="text"
            name="fullname"
            id="id1FullName"
            placeholder="Full Name"
          />
          <br />
          <label for="id2Email">Email</label><br />
          <input type="email" name="email" id="id2Email" placeholder="Email" />
          <br />
          <label for="id3Password">Password</label> <br />
          <input type="password" placeholder="Password" id="id3Password" />
          <br />
          <label for="id4CPassword">Confirm Password</label> <br />
          <input
            type="password"
            placeholder="Confirm Password"
            id="id4CPassword"
          />
          <br />
          <input type="submit" value="Signup" />
        </form>
        <span>Already have an account? <a href="./login.html">Login</a></span>
      </div>
    </div>
  </body>
</html>
