<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" type="image/icon" href="../static/images/icon.ico" />
  </head>
  <body>
    <header>
      <nav>
        <div class="navlink">
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="#">Hotels</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Packages</a></li>
          </ul>
        </div>
        <div class="signuplink">
          <ul>
            <li><a href="./signup.html">Signup</a></li>
            <li><a href="./login.html">Login</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="signup">
      <div class="decorator signupBox">
        <h1>Signup</h1>
        <form action="" method="">
          <label for="id1FullName">Full Name</label><br />
          <input
            type="text"
            name="fullname"
            id="id1FullName"
            placeholder="Full Name"
          />
          <br />
          <label for="id2Email">Email</label><br />
          <input type="email" name="email" id="id2Email" placeholder="Email" />
          <br />
          <label for="id3Password">Password</label> <br />
          <input type="password" placeholder="Password" id="id3Password" />
          <br />
          <label for="id4CPassword">Confirm Password</label> <br />
          <input
            type="password"
            placeholder="Confirm Password"
            id="id4CPassword"
          />
          <br />
          <input type="submit" value="Signup" />
        </form>
        <span>Already have an account? <a href="./login.html">Login</a></span>
      </div>
    </div>
  </body>
</html>
